#nav
{
    background-color: tan;
}
#nav12
{
    background-color: blueviolet;
}
#main
{
    background-color: rgb(134, 116, 159);
    height: 530px;
}
#forms
{
    margin-top: 50px;
}
#footer
{
    background-color: rgb(41, 39, 39);
    height: 120px;
}
#logo
{
    
    margin-left: 600px;
    margin-top: 10px;
  
}
#text
{
    margin-left: 450px;
    
}
#copyright
{
    margin-left: 580px;
    color: aliceblue;
}